.column{
    background-color: #83A603;
    height: 500px;
    color: white;
    border: 2px solid black;
}

.main{
    background-color: #BF3F3F;
    height: 500px;
    color: white;
    border: 2px solid black;
    margin-left: -40px;
}

.main input{
    margin-left: 100px;
}

.main h2{
    margin-left: 100px;
}

h2{
    padding-left: 10px;
    font-family: sans-serif;
}
