.logo {
  font-family: tahoma;
  font-size: 18px;
}
.option {
  font-family: tahoma;
}
.mat-button {
  font-family: tahoma;
}
.viewTitle {
  font-size: 13px;
  display: inline-block;
  font-family: tahoma;
}
