@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    margin-top: 100px;
}

.box {
    border: 1px solid black;
    margin-top: 10px;
    background-color: #BF3F3F;
    color: white;
  
}